// colors

$color-black-default: #000000;
$color-white-default: #ffffff;
$color-green: #32cc00;
$color-grey: #959596;
$color-light-grey: #efeeee;

// fonts

$ff-open-sans: 'Open Sans', Arial, sans-serif;
